{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">

<div class="chat-container">
    <div class="main">
      <div class="logo">
        <a class="" href="{% url 'home'%}" style="text-align: left;max-width:100px;"> 
          <i class="gg-arrow-left-o" aria-hidden="true"></i>
        </a>
      </div>
     
      <div class="sub-main">
      
        <p>{{request.user.username}}</p>
      </div>
    </div>
   
    <div class="header">Messages</div>
  
    <div class="friends-container">
     
      {% for friend in friends %}
      
      <a href=" {% url 'chat_detail' friend.id %} " style="color:black; text-decoration: none">
      <div class="friends">
        <div class="pic">
          <img src="{{friend.image.url}}" alt="" />
        </div>
        <div class="name">
          <h5>{{friend.user.username}}</h5>
          <p>How are you doing today</p>
        </div>
        <div class="time_new_msg">
          {% comment %} <p>7:30am</p> {% endcomment %}
  
   <div class="msg">0</div>
  
          
        </div>
      </div>
  </a>
  
  {% endfor %}
  
  
   
    </div>
  

  </div>
  
  <script>

      setInterval(getNotification, 1000)

    function getNotification(){
      let url = "{% url 'notification' %}"

      fetch(url)
      .then(res=>res.json())
      .then(data=>{
        console.log(data)
        let chatNotificationBtn = document.getElementsByClassName("msg")
        for(let i = 0; i<data.length; i++){
          chatNotificationBtn[i].innerText = data[i]
        }
      })
      .catch(error => console.log(error))
    }

  </script>
  
  


{% endblock %}

