{% extends 'base.html' %}
{% load static %}

{% block content %}

  <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">

  <div class="container">
    <h1>Edit Profile</h1>


    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="user-profile">
        <img src="{{ user.customuser.image.url }}" alt="User Profile" class="profile-image">
      </div>
      
      <input class="sub-btn" type="submit" value="Update Profile">
    </form>


  </div>

  {% endblock %}