{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/leave_review.css' %}">

<h1>Leave a Review</h1>
<div class="review-form">
  {% if existing_review %}
    <p>You have already left a review for this lawyer.</p>
  {% else %}
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="review_score">Review Score:</label>
        <input type="hidden" name="review_score" id="review_score" required>
        <div class="star-rating">
          <span class="star unfilled" data-value="1"></span>
          <span class="star unfilled" data-value="2"></span>
          <span class="star unfilled" data-value="3"></span>
          <span class="star unfilled" data-value="4"></span>
          <span class="star unfilled" data-value="5"></span>
        </div>
      </div>
      
      
      <div class="form-group">
        <label for="review_detail">Review Detail:</label>
        <textarea name="review_detail" id="review_detail" rows="4" required></textarea>
      </div>
      <input class="card-btn" type="submit" value="Submit Review">
    </form>
  {% endif %}
</div>

<script src="{% static 'js/leave_review.js' %}"></script>
{% endblock %}
